{% extends 'layouts/question.html' %}

{% block content_primary %}

  <!-- remove once form is working -->
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      This form is not yet working
    </strong>
  </div>

  <form class="govuk-form" method="POST" action="{{ url_for('questions.save_answer', consideration_slug=consideration.slug, question_slug=question.slug, stage=stage, next=next) }}">
    {{ form.hidden_tag() }}

    {% if request.args.get('next') %}
      <input type="hidden" name="next" value="{{ request.args.get('next') }}"/>
    {% endif %}
    <span class="govuk-caption-xl">{{ consideration.name }}</span>
    <h1 class="govuk-heading-xl">{{ form.form_title }}</h1>

    {% if list_items|length %}
    <h3 class="govuk-heading-m">Previously added</h3>
    {% endif %}
    <ul class="govuk-list">
    {% for item in list_items %}
      <li class="app-previous-item govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Item {{ loop.index }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> item {{ loop.index }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> item {{ loop.index }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-summary-list--no-border">
            {% for k,v in item.items() %}
            {%- if k != "position" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ k }}
              </dt>
              <dd class="govuk-summary-list__value">
                {{ v }}
              </dd>
            </div>
            {% endif -%}
            {% endfor %}
          </dl>
        </div>
      </li>
    {% endfor %}
    </ul>

    {% if list_items|length %}
    <h3 class="govuk-heading-m">Add new</h3>
    {% endif %}

    {% for field in form if field.name not in ['csrf_token', 'position']  %}
    <div class="govuk-form-group">
      {{ field.label(class='govuk-label') }}

      {%- if field.description %}
      <div id="" class="govuk-hint">
        {{ field.description }}
      </div>
      {% endif -%}

      {% if field.type == "TextAreaField" %}
        {% set fieldClass = 'govuk-textarea' %}
      {% else %}
        {% set fieldClass = 'govuk-input' %}
      {% endif %}
      {{ field(class=fieldClass) }}

      {%- if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
      {% endif -%}
    </div>
    {% endfor %}

    <p class="govuk-body">
      <button class="govuk-button govuk-button--secondary" value="add-another" name="submit_button" type="submit">Add another</button>
    </p>

    <div class="govuk-button-group">
      {% if next %}
        <button class="govuk-button" name="submit_button" type="submit" value="save">Save and continue</button>
      {% else %}
        <button class="govuk-button" type="submit">Save</button>
      {% endif %}
      <a class="govuk-link" href="{{ url_for('questions.index', consideration_slug=consideration.slug, stage=stage )}}">Cancel</a>
    </div>

  </form>

{% endblock content_primary %}
