{% extends 'layouts/question.html' %}
{% from 'macros/answer-list-item.html' import answerListItem %}

{% block content_primary %}
  <form class="govuk-form" method="POST">
    {{ form.hidden_tag() }}
    {% if request.args.get('next') %}
      <input type="hidden" name="next" value="{{ request.args.get('next') }}"/>
    {% endif %}
    <span class="govuk-caption-xl">{{ consideration.name }}</span>
    <h1 class="govuk-heading-xl">{{ form.form_title }}</h1>

    {% if list_items|length %}
    <h3 class="govuk-heading-m">Previously added</h3>
    {% endif %}
    <ul class="govuk-list">
    {% for item in list_items %}
      {{- answerListItem({
        "item": item,
        "consideration": consideration,
        "question": question,
        "stage": stage,
        "next": next
      }) -}}
    {% endfor %}
    </ul>

    {% if list_items|length %}
    <h3 class="govuk-heading-m">Add new</h3>
    {% endif %}

    {% for field in form if field.name not in ['csrf_token', 'position']  %}
    <div class="govuk-form-group">
      {{ field.label(class='govuk-label') }}

      {%- if field.description %}
      <div id="" class="govuk-hint">
        {{ field.description }}
      </div>
      {% endif -%}

      {% if field.type == "TextAreaField" %}
        {% set fieldClass = 'govuk-textarea' %}
      {% else %}
        {% set fieldClass = 'govuk-input' %}
      {% endif %}
      {{ field(class=fieldClass) }}

      {%- if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
      {% endif -%}
    </div>
    {% endfor %}

    {% if not edit_single %}
      <p class="govuk-body">
        <button class="govuk-button govuk-button--secondary" value="add-another" name="submit_button" type="submit">Add another</button>
      </p>
    {% endif %}

    {% include 'questions/partials/button-group.html' %}

  </form>

{% endblock content_primary %}
