{% extends 'layouts/question.html' %}

{% block content_primary %}
  <form class="govuk-form" method="POST" action="{{ url_for('questions.save_answer', consideration_slug=consideration.slug, question_slug=question.slug, stage=stage, next=next) }}">
    {{ form.hidden_tag() }}
    {% if request.args.get('next') %}
      <input type="hidden" name="next" value="{{ request.args.get('next') }}"/>
    {% endif %}
    <span class="govuk-caption-xl">{{ consideration.name }}</span>
    <h1 class="govuk-heading-xl">{{ form.input.label.text }}</h1>

    {% for field in form if field.name != 'csrf_token' %}
    <div class="govuk-form-group">
      {% if question.hint %}
      <div id="" class="govuk-hint">
        {{ question.hint }}
      </div>
      {% endif %}

      {{ field(class='govuk-input') }}

      {%- if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
      {% endif -%}
    </div>
    {% endfor %}

    {% include 'questions/partials/button-group.html' %}

  </form>
{% endblock content_primary %}
