{% extends 'layouts/base.html' %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Home",
      'href': "/"
    },
    {
      'text': "Planning consideration",
      'href': "/planning-consideration"
    },
    {
      'text': consideration.name,
      'href': url_for('planning_consideration.consideration', slug=consideration.slug)
    },
    {
      'text': stage.value
    }
  ]
}) }}

{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">{{ consideration.name }}</span>
    <h1 class="govuk-heading-xl">{{ stage.value }}</h1>
  </div>
</div>

<div class='govuk-grid-row'>
  <div class='govuk-grid-column-two-thirds'>
    {%- if session["user"] %}
    <p class="govuk-body">
      <a href="{{ url_for('questions.question', consideration_slug=consideration.slug, question_slug=starting_question.slug, stage=stage, next=True) }}" class="govuk-link">Answer all</a>
    </p>
    {% endif -%}
    <ul class="govuk-list">
      {% for question in questions %}
        {% set answer = consideration.get_answer(question) %}
          <li class="app-question-set__item">
            <h3 class="govuk-heading-s">{{ question.format(consideration.name) }}</h3>
            <p class="govuk-body">{% if answer %}{{ answer.text }}{% endif %}</p>
            {%- if session["user"] %}
            <p class="govuk-body"><a href="{{url_for('questions.question', consideration_slug=consideration.slug, question_slug=question.slug, stage=stage)}}" class="govuk-link">{% if answer %}Edit{% else %}Provide an answer{% endif %}</a></p>
            {% endif -%}
          </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
