{% extends 'layouts/base.html' %}

{% block app_breadcrumbs %}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Home",
      'href': "/"
    },
    {
      'text': "Planning consideration",
      'href': "/planning-consideration"
    },
    {
      'text': consideration.name,
      'href': url_for('planning_consideration.consideration', slug=consideration.slug)
    },
    {
      'text': stage.value
    }
  ]
}) }}
{% endblock app_breadcrumbs %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">{{ consideration.name }}</span>
    <h1 class="govuk-heading-xl">{{ stage.value }}</h1>
  </div>
</div>

<div class='govuk-grid-row'>
  <div class='govuk-grid-column-two-thirds'>
    {%- if session["user"] %}
    <p class="govuk-body">
      <a href="{{ url_for('questions.question', consideration_slug=consideration.slug, question_slug=starting_question.slug, stage=stage, next=True) }}" class="govuk-link">Answer all</a>
    </p>
    {% endif -%}

    {% macro questionSet(params) %}
    <ul class="govuk-list app-question-set">
      {% for question in params.questions %}
        {% set answer = consideration.get_answer(question) %}
          <li class="app-question-set__item">
            <h3 class="govuk-heading-s">{{ question.format(consideration.name) }}</h3>

            {%- if answer -%}
              {% if question.question_type.value == "add-to-a-list" %}
              {{ answer.answer_list }}
              {% elif question.question_type.value == "textarea" %}
              <p class="govuk-body">{% if answer %}{{ answer.answer.text }}{% endif %}</p>
              {% elif question.question_type.value == "choose-one-from-list" %}
              <p class="govuk-body">{% if answer %}{{ answer.answer.choice }}{% endif %}</p>
              {% else %}
              <p class="govuk-body">{% if answer %}
              {% if answer.answer.text -%}
                {{ answer.answer.text }}
              {% elif answer.answer.choice %}
                {% set choices = answer.answer.choice|choice_to_list %}
                <ul class="govuk-list govuk-list--bullet">
                {%- for choice in choices %}
                  <li>{{ choice }}</li>
                {% endfor -%}
               </ul>
              {%- else -%}
                {{ answer.answer }}
              {%- endif %}
              {% endif %}</p>
              {% endif %}
            {%- endif -%}

            {%- if session["user"] %}
            <p class="govuk-body"><a href="{{url_for('questions.question', consideration_slug=consideration.slug, question_slug=question.slug, stage=stage)}}" class="govuk-link">{% if answer %}Edit{% else %}Provide an answer{% endif %}</a></p>
            {% endif -%}

            {% if question.sub_questions %}
            {{ questionSet({
              "questions": question.sub_questions
            })}}
            {% endif %}
          </li>
      {% endfor %}
    </ul>

    {% endmacro %}

    {{ questionSet({
      "questions": questions
    })}}
  </div>
</div>
{% endblock %}
