{% extends 'layouts/base.html' %}
{% from 'macros/radios.html' import radioComponent %}

{% block beforeContent %}
{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="govuk-form" method="POST" action="{{ url_for('questions.question', consideration_slug=consideration.slug, question_slug=question.slug, stage=stage, next=next) }}">
      {{ form.hidden_tag() }}
      {% if request.args.get('next') %}
        <input type="hidden" name="next" value="{{ request.args.get('next') }}"/>
      {% endif %}
      {{ radioComponent({
        "field": form.choice,
        "pageHeading": {
          "size": "xl",
          "captionHTML": '<span class="govuk-caption-xl">' + consideration.name + '</span>'
        },
        "conditional": 'Other' if question.question_type.value == 'choose-one-from-list-other' else False,
        "other": form.other.data if form.other else None
      }) }}

      <div class="govuk-button-group">
        {% if next %}
          <button class="govuk-button" type="submit">Save and continue</button>
        {% else %}
          <button class="govuk-button" type="submit">Save</button>
        {% endif %}
        <a class="govuk-link" href="{{ url_for('questions.index', consideration_slug=consideration.slug, stage=stage )}}">Cancel</a>
      </div>

    </form>
  </div>
</div>

{% endblock content %}
