{% extends 'layouts/question.html' %}
{% from 'macros/radios.html' import radioComponent %}

{% block content_primary %}
  <form class="govuk-form" method="POST" action="{{ url_for('questions.save_answer', consideration_slug=consideration.slug, question_slug=question.slug, stage=stage, next=next) }}">
    {{ form.hidden_tag() }}
    {% if request.args.get('next') %}
      <input type="hidden" name="next" value="{{ request.args.get('next') }}"/>
    {% endif %}
    {{ radioComponent({
      "field": form.choice,
      "pageHeading": {
        "size": "xl",
        "captionHTML": '<span class="govuk-caption-xl">' + consideration.name + '</span>'
      },
      "hint": {
        "text": question.hint if question.hint else ""
      },
      "conditional": 'Other' if question.question_type.value == 'choose-one-from-list-other' else False,
      "other": form.other.data if form.other else None
    }) }}

    {% include 'questions/partials/button-group.html' %}
  </form>
{% endblock content_primary %}
