.app-masthead {
  @include govuk-responsive-padding(2, "top");
  @include govuk-responsive-padding(6, "bottom");
  color: #ffffff;
  background-color: govuk-colour("blue");
  position: relative;
  z-index: 1;
  width: 100vw;
  margin: 0;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  &::after,
  &::before {
      content: ' ';
      display: table;
  }

  &__title,
  &__sub-title {
    color: #fff;
    max-width: 45ch;
  }

}


.app-masthead__phase-banner--inverse {
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(3);
  border-bottom: none;

  .govuk-phase-banner__content__tag {
    background-color: govuk-colour("white");
  }

  .govuk-phase-banner__text {
    color: govuk-colour("white");
  }

  .govuk-link {
    color: govuk-colour("white");

    &:focus {
      color: govuk-colour("black");
    }
  }
}