.app-report {
  --bar-height: 90px;
}

.app-report-bar {
  position: relative;
  height: var(--bar-height);
  background: govuk-colour('blue');

  &:before, &:after {
    content: '';
    position: absolute;
    height: var(--bar-height);
  }

  &:before {
    background: white;
    width: 100%;
    z-index: 1;
  }

  &:after {
    background: black;
    width: calc((var(--bar-width) / var(--max-count)) * 100%);
    z-index: 2;
  }
}

.app-report-bar__bg1,
.app-report-bar__bg2,
.app-report-bar__colour-mask {
  position: absolute;
  height: var(--bar-height);
}


.app-report-bar__bg1 {
  background: white;
  width: 100%;
  z-index: 1;
}

.app-report-bar__bg2 {
  background: black;
  width: calc((var(--bar-width) / var(--max-count)) * 100%);
  z-index: 2;
}

.app-report-bar__label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  mix-blend-mode: difference;
  z-index: 3;
}

.app-report-bar__colour-mask {
  background: rgb(29, 112, 184);
  width: 100%;
  mix-blend-mode: screen;
  z-index: 4;
}

.app-report-bar--archived {
  .app-report-bar__colour-mask {
    background: govuk-colour('orange');
  }
}

.app-report-bar--backlog {
  .app-report-bar__colour-mask {
    background: govuk-colour('mid-grey');
  }
}

.app-report-bar--on-the-platform {
  .app-report-bar__colour-mask {
    background: govuk-colour('green');
  }
}
