.app-synonyms-list {
  display: none;
  margin: 0;
  padding: 5px 0 0;

  @include govuk-font($size: 14);

  &::before {
    content: 'Synonyms: '
  }

  li {
    display: inline;
    list-style: none;

    &:not(:last-child)::after {
      content: ", ";
    }
  }
}

.dl-list-filter__filtered-listed {
  .app-synonyms-list {
    display: block;
  }
}
