{% extends 'layouts/base.html' %}

{% block app_breadcrumbs %}
  {{
    govukBreadcrumbs({
      'items': [
        {
          'text': "Home",
          'href': url_for('main.index')
        },
        {
          'text': "Advisory group"
        }
      ]
    })
  }}
{% endblock app_breadcrumbs %}

{% block content %}
<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop'>
    <span class="govuk-caption-xl">Planning data design</span>
    <h1 class="govuk-heading-xl" id="advisory-group">Advisory group</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-s">Contents</h3>
    <ul class="govuk-list">
      <li><a href="#advisory-group" class="govuk-link">Introduction</a></li>
      <li><a href="#whats-next" class="govuk-link">What's next</a></li>
      <li><a href="#useful-links" class="govuk-link">Useful links</a></li>
      <li><a href="#updates" class="govuk-link">Updates</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body-l">MHCLG Digital Planning are developing a set of open, reusable data specifications to underpin planning applications. These will make sure the <a href="https://www.gov.uk/government/publications/planning-application-forms-templates-for-local-planning-authorities" class="govuk-link">current templates</a> are underpinned by data.</p>

    <p class="govuk-body">We are doing this work in the open. To help us we brought together 2 groups:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Advisory group - this group consists of a mix of people from industry including software providers, government bodies, LPAs and other interest groups</li>
      <li>Community group - this group consists of everyone else interested in planning applications and the work we are doing to develop data standards</li>
    </ul>

    <h2 class="govuk-heading-m" id="whats-next">What's next</h2>
    <p class="govuk-body">We are holding the next Advisory group session on 22 January.</p>
    <p class="govuk-body">In the meantime, if people can complete and share their contributions about the <a href="https://github.com/digital-land/data-standards-backlog/discussions/98#discussioncomment-11482302" class="govuk-link">application form components and fields</a> as soon as possible that would be great.</p>

    <h2 class="govuk-heading-m" id="useful-links">Useful links</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://docs.google.com/document/d/1WqMY1tfH9YhaZ1yUlJPKtTqs_OKw0Nv8yqdHWO4xSg4/edit?usp=sharing" class="govuk-link">Charter for the advisory group</a></li>
      <li><a href="https://github.com/digital-land/data-standards-backlog/discussions/98" class="govuk-link">Discussion thread</a> - where we share regular updates and you can join the conversation</li>
      <li><a href="https://docs.google.com/spreadsheets/d/1x9-xinthW3j8G1vFq9i1Re1AJJ0D4yyiT8LpnaINyhA/edit?usp=sharing" class="govuk-link">Components and fields (googlesheet)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="updates">Updates</h2>

    <h3 class="govuk-heading-m">Week beginning 16 Dec</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Held a drop-in session on Tuesday 17 Dec to demo the spreadsheet and answer any questions (<a class="govuk-link" href="https://docs.google.com/presentation/d/1WwsV3vNjaXdOYydnrnH3n4UT6iaMCHDxbbyBHZxAUCk/edit?usp=sharing">slide deck</a>, <a href="https://youtu.be/Gc22mzq_L2c" class="govuk-link">video of session</a>)</li>
    </ul>

    <h3 class="govuk-heading-m">Week beginning 9 Dec</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Published <a href="https://mhclgdigital.blog.gov.uk/2024/12/06/digital-planning-developing-planning-applications-specifications-in-the-open/" class="govuk-link">a blog post about the first 2 events we held</a></li>
    </ul>

    <h3 class="govuk-heading-m">Week beginning 2 Dec</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Held the first community drop-in session</li>
      <li>Fleshed out and shared <a href="https://docs.google.com/spreadsheets/d/1x9-xinthW3j8G1vFq9i1Re1AJJ0D4yyiT8LpnaINyhA/edit?usp=sharing" class="govuk-link">a spreadsheet of components and fields</a> that we’d like the community to use to share their thoughts on the existing 'standards'</li>
    </ul>

    <h3 class="govuk-heading-m">Week beginning 25 Nov</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Held the first advisory group meeting on the 27 November</li>
      <li>Pulled together a spreadsheet with the 80+ components and 1300 fields from the analysis of the planning application forms</li>
    </ul>

    <h3 class="govuk-heading-m">Week beginning 18 Nov</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://github.com/digital-land/data-standards-backlog/discussions/98#discussioncomment-11189385" class="govuk-link">Analysed the existing application forms</a></li>
      <li>Created <a href="https://docs.google.com/document/d/1WqMY1tfH9YhaZ1yUlJPKtTqs_OKw0Nv8yqdHWO4xSg4/edit?usp=sharing" class="govuk-link">a charter</a> for the advisory group</li>
      <li>Prepared for the first advisory group session</li>
    </ul>

    <h3 class="govuk-heading-m">Week beginning 11 Nov</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Shared the set of <a href="https://github.com/digital-land/data-standards-backlog/discussions/98#discussioncomment-11157740" class="govuk-link">planning application types</a> we’ll be looking at first</li>
    </ul>

    <h3 class="govuk-heading-m">Start of the initiative</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Published <a href="https://mhclgdigital.blog.gov.uk/2024/10/18/using-data-design-to-transform-the-planning-application-process-get-involved/" class="govuk-link">a blog post setting out this piece of work</a></li>
    </ul>

  </div>
</div>
{% endblock %}
