{% extends 'layouts/base.html' %}

{% block pageTitle %}Timeline | Planning application submissions | design.planning {% endblock %}

{% block app_breadcrumbs %}
  {{
    govukBreadcrumbs({
      'items': [
        {
          'text': "Home",
          'href': url_for('main.index')
        },
        {
          'text': "Project",
          'href': url_for('project.index')
        },
        {
          'text': "Planning applications",
          'href': url_for('project.planning_applications')
        },
        {
          'text': "Roadmap"
        }
      ]
    })
  }}
{% endblock app_breadcrumbs %}

{% block content %}
<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full'>
    <span class="govuk-caption-xl">Project - Planning applications</span>
    <h1 class="govuk-heading-xl" id="advisory-group">Forward look</h1>
  </div>
</div>

<div class='govuk-grid-row'>
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body">The data design team has been working on behalf of the development management policy team to develop open data specifications for planning application submissions. It is the process that they own which is being adapted to ensure consistent, interoperable data is flowing through it.</p>
    <p class="govuk-body">Below is a forward look for the development of these specifications.</p>

    <h2 class="govuk-heading-l">January 2026</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Supporting mandating process with minor iterations to specification based on testing & feedback</li>
      <li>Share initial working draft decision specification</li>
      <li>Deep dive research into decision requirements</li>
      <li>21st January Data Standards Community event</li>
    </ul>

    <h2 class="govuk-heading-l">February 2026</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Supporting mandating process with minor iterations to specification based on testing & feedback</li>
      <li>Feedback, amendments and expand initial working draft decision specification</li>
      <li>Initial MHCLG engagement on impacts and implementation of decision specification</li>
      <li>25th February Data Standards Community event</li>
    </ul>

    <h2 class="govuk-heading-l">March 2026</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Supporting mandating process with minor iterations to specification based on testing & feedback</li>
      <li>Final amendments to initial working draft decision specification</li>
      <li>Detailed MHCLG engagement on impacts and implementation</li>
      <li>31st March Data Standards Community event</li>
    </ul>

  </div>

  <div class="govuk-grid-column-one-quarter">
    {% include 'partials/planning-permission-useful-links.html' %}
  </div>

</div>
{% endblock %}
