{% extends 'layouts/base.html' %}
{% from 'macros/radios.html' import radioComponent %}

{% block beforeContent %}

{% if mode == "edit" %}
{% include 'questiontypes/question-page-breadcrumbs.html' %}
{% else %}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Home",
      'href': "/"
    },
    {
      'text': "Planning consideration",
      'href': "/"
    },
    {
      'text': "Add new",
    }
  ]
}) }}
{% endif %}

{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Consideration already exists
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}

    <span class="govuk-caption-xl">{{ "Edit p" if mode == "edit" else "P" }}lanning consideration</span>
    <h1 class="govuk-heading-xl">{{ consideration.name if mode == "edit" else "Add new" }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="govuk-form" method="POST">
      {{ form.hidden_tag() }}

      {% for field in form if field.name != 'csrf_token' %}
      <div class="govuk-form-group">
        {% if field.type == "IntegerField" %}
          {{ field.label(class='govuk-label') }}
          {{ field(class='govuk-input govuk-input--width-4') }}
        {% elif field.type == "TextAreaField" %}
          {{ field.label(class='govuk-label') }}
          {{ field(class='govuk-textarea') }}
        {% elif field.type == "RadioField" %}
          {{ radioComponent({
            "field": form.public,
            "pageHeading": {"size": "m"},
            })
          }}
        {% else %}
          {{ field.label(class='govuk-label') }}
          {{ field(class='govuk-input') }}
        {% endif %}

        {% if field.errors %}
          <ul class="govuk-list govuk-list--bullet govuk-error-message">
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {% endfor %}

      <div class="govuk-button-group">
        <button class="govuk-button" type="submit">{{ "Save changes" if mode == "edit" else "Create" }}</button>
        {%- if mode == "edit" %}
          {%- set cancelLink = url_for('planning_consideration.consideration', slug=consideration.slug) %}
        {%- else %}
          {%- set cancelLink = url_for('planning_consideration.considerations') %}
        {%- endif %}
        <a class="govuk-link" href="{{ cancelLink }}">Cancel</a>
      </div>

    </form>
  </div>
</div>

{% endblock content %}
