{% extends 'layouts/base.html' %}
{% from 'macros/radios.html' import radioComponent %}

{% block beforeContent %}

{% if mode == "edit" %}
{% include 'questiontypes/question-page-breadcrumbs.html' %}
{% else %}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Home",
      'href': "/"
    },
    {
      'text': "Planning consideration",
      'href': "/"
    },
    {
      'text': "Add new",
    }
  ]
}) }}
{% endif %}

{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="govuk-notification-banner govuk-notification-banner--issue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Consideration already exists
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}

    <span class="govuk-caption-xl">{{ "Edit p" if mode == "edit" else "P" }}lanning consideration</span>
    <h1 class="govuk-heading-xl">{{ consideration.name if mode == "edit" else "Add new" }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="govuk-form" method="POST">
      {{ form.hidden_tag() }}

      <div class="govuk-form-group">
        {{ form.name.label(class='govuk-label') }}
        {{ form.name(class='govuk-input') }}
        {% if form.name.errors %}
          {%- for error in form.name.errors -%}
          <p class="govuk-error-message govuk-!-margin-top-1">
            <span class="govuk-visually-hidden">Error:</span> {{ error }}
          </p>
          {%- endfor -%}
        {% endif %}
      </div>

      <div class="govuk-form-group">
        {{ form.github_discussion_number.label(class='govuk-label')   }}
        {{ form.github_discussion_number(class='govuk-input') }}

        {% if form.github_discussion_number.errors %}
          {%- for error in form.github_discussion_number.errors -%}
          <p class="govuk-error-message govuk-!-margin-top-1">
            <span class="govuk-visually-hidden">Error:</span> {{ error }}
          </p>
          {%- endfor -%}
        {% endif %}
      </div>

      <div class="govuk-form-group">
        {{ form.description.label(class='govuk-label') }}
        {{ form.description(class='govuk-textarea') }}

        {% if form.description.errors %}
          {%- for error in form.description.errors -%}
          <p class="govuk-error-message govuk-!-margin-top-1">
            <span class="govuk-visually-hidden">Error:</span> {{ error }}
          </p>
          {%- endfor -%}
        {% endif %}
      </div>

    <div class="app-tags-select" data-module="multi-select">

      <div class="govuk-form-group" data-multi-select="form-group">

          {{ form.tags.label(class='govuk-label') }}
          {{ form.tags(class='govuk-input') }}

      </div>
      <div class="app-hidden">
        <select name="tag_select" id="tag_select" data-multi-select="select">
          {% for tag in form.tags.choices %}
            <option value="{{ tag[0] }}">{{ tag[1] }}</option>
          {% endfor %}
        </select>
      </div>

    </div>

      {{ radioComponent({
        "field": form.public,
        "pageHeading": {"size": "m"},
        })
      }}

      <div class="govuk-button-group">
        <button class="govuk-button" type="submit">{{ "Save changes" if mode == "edit" else "Create" }}</button>
        {%- if mode == "edit" %}
          {%- set cancelLink = url_for('planning_consideration.consideration', slug=consideration.slug) %}
        {%- else %}
          {%- set cancelLink = url_for('planning_consideration.considerations') %}
        {%- endif %}
        <a class="govuk-link" href="{{ cancelLink }}">Cancel</a>
      </div>

    </form>
  </div>
</div>

{% endblock content %}

{% block pageScripts %}
  <script src="{{ assetPath | default('/static') }}/javascripts/vendor/accessible-autocomplete.min.js"></script>
  <script>
    const $multiSelectModule = document.querySelector('[data-module="multi-select"]')
    const multiSelectModule = new dptp.MultiSelect($multiSelectModule).init({ selectedClass: 'govuk-tag' })
    console.log(multiSelectModule)
  </script>
{% endblock pageScripts %}
