{% extends 'layouts/base.html' %}

{% block app_breadcrumbs %}
  {{
    govukBreadcrumbs({
      'items': [
        {
          'text': "Home",
          'href': url_for('main.index')
        },
        {
          'text': "Planning consideration",
          'href': url_for('planning_consideration.considerations')
        },
        {
          'text': consideration.name
        }
      ]
    })
  }}
{% endblock app_breadcrumbs %}

{% macro LinksList(params) %}
  {% if params.links is not none %}
  <ul class="govuk-list govuk-list--spaced">
    {% for link in params.links %}
    <li>
      <a href="{{ link['link_url'] }}" class="govuk-link">{{ link['link_text'] }}</a>
      {%- if not config.AUTHENTICATION_ON or session["user"] %}
      <span class="app-list__item__inline-action govuk-!-font-size-16"><a class="app-destructive-link" href="{{ url_for('planning_consideration.delete_attr_link', slug=params.consideration.slug, attr_name=params.attr, link_text=link['link_text'] )}}" class="govuk-link">Remove</a><span class="govuk-visually-hidden"> {{ link['link_text'] }} schema from list</span></span>
      {% endif -%}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}

{% block content_header %}
  <span class="govuk-caption-xl">Planning consideration</span>
  <h1 class="govuk-heading-xl">{{ consideration.name }}</h1>
  <h2 class="govuk-caption-l">{{consideration.description}}</h2>

{% endblock %}

{% set width = 'three quarters' %}

{% block content_primary %}

  {% if consideration.blocked_reason %}
  <div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Work on this has been paused
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      {{ consideration.blocked_reason|render_markdown }}
      {%- if not config.AUTHENTICATION_ON or session["user"] %}
      <p class="govuk-body"><a href="{{ url_for('planning_consideration.unblock', slug=consideration.slug) }}" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Mark as unblocked</a></p>
      {% endif -%}
    </div>
  </div>
  {% endif %}

<hr class="govuk-section-break govuk-section-break--l">

<!-- For considerations that are being worked on -->
    {% if consideration.prioritised == True %}
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          {% set discussion_link = github_discussion_base_url + "/" + consideration.github_discussion_number|string if consideration.github_discussion_number is not none else github_discussion_base_url %}
          We are currently designing this consideration. You can view the latest updates <a class="govuk-notification-banner__link" href="{{ discussion_link }}">here</a>.
        </p>
      </div>
    </div>
    {% endif %}

    {% set width = 'three quarters' %}


  <!-- details only visible to logged in users -->
  <div id="details" class="govuk-summary-list">
    <div class="govuk-summary-list">
      <dl class="govuk-summary-list">
        {% if not config.AUTHENTICATION_ON or session["user"] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ consideration.name }}
          </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('planning_consideration.edit', slug=consideration.slug) }}">Change<span class="govuk-visually-hidden"> planning consideration name</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            {{ consideration.description }}
          </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('planning_consideration.edit', slug=consideration.slug) }}">Change<span class="govuk-visually-hidden"> planning consideration description</span></a>
            </dd>
        </div>
        {% endif %}

      <!-- stage -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <a href="{{ url_for('planning_consideration.stage', slug=consideration.slug) }}" class="govuk-link govuk-link--text-colour">Design stage</a>
          </dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-tag {{ consideration['stage'].value|map_to_tag_class }}">
              {{ consideration['stage'].value }}
            </span>
          </dd>
          {% if not config.AUTHENTICATION_ON or session["user"] %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('planning_consideration.change_stage', slug=consideration.slug) }}">Change<span class="govuk-visually-hidden"> planning consideration stage</span></a>
            </dd>
          {% endif %}
        </div>

        <!-- tags -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Tags
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--spaced">
            {% for tag in consideration.tags %}
              <li><a href="{{ url_for('planning_consideration.considerations', tag=tag.name) }}"><span class="govuk-tag">{{ tag.name }}</span></a>
                {%- if not config.AUTHENTICATION_ON or session["user"] %}
                  <span class="app-list__item__inline-action govuk-!-font-size-16">
                    <a href="{{ url_for('tags.remove_tag', consideration=consideration.slug, tag_id=tag.id) }}" class="govuk-link app-destructive-link">Remove<span class="govuk-visually-hidden"> {{ tag.name }} tag from list</span></a>
                  </span>
                {% endif -%}
              </li>
            {% endfor %}
            </ul>
            <p class="govuk-!-font-size-16">
              <a href="{{ url_for('main.glossary_of_tags') }}" class="govuk-link">View a glossary of tags</a>
            </p>
          </dd>
          {% if not config.AUTHENTICATION_ON or session["user"] %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('tags.add_tag_consideration', consideration=consideration.slug) }}">Add<span class="govuk-visually-hidden"> planning consideration tags</span></a>
            </dd>
          {% endif %}
        </div>



  <!-- github discussion -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Github
          </dt>
          <dd class="govuk-summary-list__value">
            {% set discussion_link = github_discussion_base_url + "/" + consideration.github_discussion_number|string if consideration.github_discussion_number is not none else github_discussion_base_url %}
            {%- if consideration.github_discussion_number is not none %}
            <a href="{{ discussion_link }}" class="govuk-link">Join the discussion</a>
            {%- else -%}
            <span class="app-missing-item">
              <p class="govuk-!-margin-bottom-0">No discussion started</p>
              {% if not config.AUTHENTICATION_ON or session["user"] %}
                <p class="govuk-!-font-size-16"><a href="{{ discussion_link }}" class="govuk-link">Create one now</a></p>
              {% endif %}
            </span>
            {% endif -%}
          </dd>
          {% if not config.AUTHENTICATION_ON or session["user"] %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('planning_consideration.edit', slug=consideration.slug) }}">{{ "Change" if consideration.github_discussion_number else "Add" }}</a>
            </dd>
          {% endif %}
        </div>


  <!-- synonyms -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Synonyms
          </dt>
          <dd class="govuk-summary-list__value">
            {%- if consideration.synonyms and consideration.synonyms|length > 0 %}
            <ul class="govuk-list govuk-list--spaced">
              {% for synonym in consideration.synonyms %}
              <li>
                {{ synonym }}
                {%- if not config.AUTHENTICATION_ON or session["user"] %}
                <span class="app-list__item__inline-action govuk-!-font-size-16"><a class="app-destructive-link" href="{{ url_for('planning_consideration.delete_synonym', slug=consideration.slug, synonym=synonym )}}" class="govuk-link">Remove</a><span class="govuk-visually-hidden"> {{ synonym }} schema from list</span></span>
                {% endif -%}
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <span class="app-missing-item">No synonyms added</span>
            {% endif -%}
          </dd>
          {% if not config.AUTHENTICATION_ON or session["user"] %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('planning_consideration.add_synonym', slug=consideration.slug) }}">Add<span class="govuk-visually-hidden"> planning consideration synonyms</span></a>
            </dd>
          {% endif %}
        </div>

    <!-- legislation -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legislation
          </dt>
          <dd class="govuk-summary-list__value">
            {% if consideration.legislation %}
            <ul class="govuk-list govuk-list--spaced">
              {% if consideration.legislation['link_url'] %}
              <a href="{{ consideration.legislation['link_url'] }}" class="govuk-link">{{ consideration.legislation['link_text'] }}</a>
              {% else %}
              <p>{{ consideration.legislation['link_text'] }}</p>
                <span class="app-missing-item">No url recorded</span>
              {% endif %}
            {% else %}
            <span class="app-missing-item">No legislation added</span>
            {% endif %}
            </ul>
          </dd>
          {% if not config.AUTHENTICATION_ON or session["user"] %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('planning_consideration.edit_legislation', slug=consideration.slug) }}">{{ "Change" if consideration.legislation else "Add" }}<span class="govuk-visually-hidden"> legislation</span></a>
            </dd>
          {% endif %}
        </div>

    <!-- prioritised -->
    {% if not config.AUTHENTICATION_ON or session["user"] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Working on now
          </dt>
          <dd class="govuk-summary-list__value">
            {{ consideration.prioritised }}
          </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('planning_consideration.prioritised', slug=consideration.slug) }}">Change<span class="govuk-visually-hidden"> planning consideration prioritisation</span></a>
            </dd>
        </div>
    {% endif %}

        <!-- public -->
        {% if not config.AUTHENTICATION_ON or session["user"] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Public
          </dt>
          <dd class="govuk-summary-list__value">
            {{ consideration.public }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ url_for('planning_consideration.public', slug=consideration.slug) }}">Change<span class="govuk-visually-hidden"> planning consideration public status</span></a>
          </dd>
        </div>
        {% endif %}

        <!-- OS declaration -->
        {%- if consideration.os_declaration %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ordnance Survey declaration
          </dt>
          <dd class="govuk-summary-list__value">
              {{ consideration.os_declaration['status'] }}
            {% if consideration.os_declaration and consideration.os_declaration['further_information_url'] %}
            <p class="app-further-info-link"><a href="{{ consideration.os_declaration['further_information_url'] }}">See further information about this OS declaration</a></p>
          </dd>
          {% endif %}
          {% if not config.AUTHENTICATION_ON or session["user"] %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('planning_consideration.change_os_declaration', slug=consideration.slug) }}">Change<span class="govuk-visually-hidden"> OS declaration</span></a>
            </dd>
          {% endif %}
        </div>
        {% endif %}

    <!-- Expected number of records -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expected number of records
          </dt>
          <dd class="govuk-summary-list__value">
            {% if consideration.expected_number_of_records is not none %}
            {{ consideration.expected_number_of_records|commanum }}
            {% else %}
            <span class="app-missing-item">Unknown</span>
            {% endif %}
          </dd>
          {% if not config.AUTHENTICATION_ON or session["user"] %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('planning_consideration.edit_estimated_size', slug=consideration.slug) }}">Change<span class="govuk-visually-hidden"> expected number of records</span></a>
            </dd>
          {% endif %}
        </div>

   <!-- Frequency of updates -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Frequency of updates
          </dt>
          <dd class="govuk-summary-list__value">
            {% if consideration.frequency_of_updates is not none %}
            {{ consideration.frequency_of_updates.value }}
            {% else %}
            <span class="app-missing-item">Unknown</span>
            {% endif %}
          </dd>
          {% if not config.AUTHENTICATION_ON or session["user"] %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('planning_consideration.frequency', slug=consideration.slug) }}">Change<span class="govuk-visually-hidden"> frequency of updates</span></a>
            </dd>
          {% endif %}
        </div>

    <!-- useful links -->
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Useful links
      </dt>
      <dd class="govuk-summary-list__value">
        {% if consideration.useful_links and consideration.useful_links|length %}
        {{  LinksList({
            "links": consideration.useful_links,
            "consideration": consideration,
            "attr": "useful_links"
          })
        }}
        {% else %}
        <span class="app-missing-item">No useful links added</span>
        {% endif %}
      </dd>
      {% if not config.AUTHENTICATION_ON or session["user"] %}
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{{ url_for('planning_consideration.add_useful_link', slug=consideration.slug) }}">Add<span class="govuk-visually-hidden"> useful link</span></a>
        </dd>
      {% endif %}
    </div>


  <!-- Technical specification -->
        <div class="govuk-summary-list__row">
        {% from 'components/specification-row.html' import specificationRow %}

          <dt class="govuk-summary-list__key">
            Technical specification
          </dt>
          <dd class="govuk-summary-list__value">
            {% if consideration.specification %}
              <a href="{{ consideration.specification['link_url'] }}" class="govuk-link">View specification</a>
            {% else %}
              <span class="app-missing-item">No specification added</span>
            {% endif %}
          </dd>
          {% if not config.AUTHENTICATION_ON or session["user"] %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('planning_consideration.edit_specification', slug=consideration.slug) }}">{{ "Change" if consideration.specification else "Add" }}<span class="govuk-visually-hidden"> specification</span></a>
            </dd>
          {% endif %}
        </div>
      </dl>

  <hr class="govuk-section-break govuk-section-break--l">

  <!-- Related datasets -->
  <div id="data-related" class="govuk-summary-list">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Related dataset{{ "s" if consideration.datasets and consideration.datasets|length > 1 }}
      </h2>
    </div>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {% if consideration.datasets %}
            <ul class="govuk-list govuk-list--spaced">
              {% for dataset in consideration.datasets %}
              <li>
                <a href="{{ dataset['platform_url'] or dataset['schema_url'] }}" class="govuk-link govuk-link--text-colour">{% if dataset["label"] %}{{ dataset["label"] }}{% else %}{{ dataset["name"] }}{% endif %}</a>
              </li>
              {% endfor %}
            </ul>
            {% else %}
              <span class="app-missing-item">No related datasets</span>
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--spaced">
            {% if consideration.datasets %}
              {% for dataset in consideration.datasets %}
                <li>
                  {% if dataset['schema_url'] %}<p><a href="{{ dataset['schema_url'] }}" class="govuk-link">View schema on Github</a></p>{% endif %}
                </li>
                <li>
                  {% if dataset['dataset_editor_url'] %}<p><a href="{{ dataset['dataset_editor_url'] }}" class="govuk-link">Manage dataset in planning dataset editor</a></p>{% endif %}
                </li>

                {% if not config.AUTHENTICATION_ON or session["user"] %}
                  <a class="app-destructive-link" href="{{ url_for('planning_consideration.remove_schema', slug=consideration.slug, dataset_name=dataset['name']) }}" class="govuk-link" onclick="return confirm('Are you sure you want to remove this dataset?');">
                    Remove<span class="govuk-visually-hidden"> dataset</span>
                  </a>
                {% endif %}
              {% endfor %}
            {% endif %}
            </ul>
          </dd>
          {% if not config.AUTHENTICATION_ON or session["user"] %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('planning_consideration.add_schema', slug=consideration.slug) }}">Add<span class="govuk-visually-hidden"> link to applicable schemas</span></a>
            </dd>
          {% endif %}
        </div>


  </div>

  <hr class="govuk-section-break govuk-section-break--l">

  <section id="design-process-stages">
    <h2 class="govuk-heading-l">Background information</h2>
    <p class="govuk-body">Each planning consideration we work on passes through the stages of our design process, where we research and answer specific questions to help us collect more information.
    <br><br>Read all the <a href="{{ url_for('questions.index', stage=stages.BACKLOG, consideration_slug=consideration.slug )}}" class="govuk-link">background information</a></li> that we have on this consideration.</p>
  </section>

  <hr class="govuk-section-break govuk-section-break--l">

  <section id="notes">
    <h2 class="govuk-heading-l">{{ notes | length }} update{{ "" if notes|length == 1 else "s" }}</h2>
    {% if not config.AUTHENTICATION_ON or session["user"] %}
      <a href="{{ url_for('planning_consideration.add_note', slug=consideration.slug)}}" class="govuk-button govuk-button--secondary"><i class="app-icon">+</i>Add note</a>
    {% endif %}
    <ul class="govuk-list govuk-list--spaced">
      {% for note in notes %}
          <li>
            <span class="govuk-!-font-size-14">{{ note.author }} ({{ note.created | short_date}})</span>
            <div class="app-note__content">{{ note.text|render_markdown }}</div>
            {% if not config.AUTHENTICATION_ON or session["user"] %}
            <div class="app-note__actions">
              <span class="govuk-!-font-size-14">
                <a href="{{ url_for('planning_consideration.edit_note', slug=consideration.slug, note_id=note.id )}}" class="govuk-link" >Edit<span class="govuk-visually-hidden"> note</span></a>
              </span>
              {% if not config.AUTHENTICATION_ON or session["user"] %}
                <span class="govuk-!-font-size-14">
                  <a href="{{ url_for('planning_consideration.delete_note', slug=consideration.slug, note_id=note.id )}}" class="govuk-link
                  app-destructive-link" onclick="return confirm('Are you sure you want to remove this note?');">Remove<span class="govuk-visually-hidden"> note</span></a>
                </span>
              {% endif %}
            </div>
            {% endif %}
          </li>
      {% endfor %}
    </ul>
  </section>


{% endblock content_primary %}

{% block content_footer %}
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <span class="govuk-hint">{%- if latest_change %}<a href="{{url_for('planning_consideration.change_log', slug=consideration.slug) }}">Last updated: {{ latest_change | date_time }}</a>{% else %}No recent updates{% endif -%}</span>
{% endblock %}
