
{% extends 'layouts/base.html' %}

{% block app_breadcrumbs %}
  {{
    govukBreadcrumbs({
      'items': [
        {
          'text': "Home",
          'href': url_for('main.index')
        },
        {
          'text': "Data design process"
        }
      ]
    })
  }}
{% endblock app_breadcrumbs %}

{% block content %}
<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop'>
    <h1 class="govuk-heading-xl">Data design process</h1>
  </div>
</div>

<div class='govuk-grid-row'>
  <div class='govuk-grid-column-two-thirds'>

    <p class="govuk-body">Our data design process is split into stages.</p>
    <p class="govuk-body">Having specific stages improves the visibility of our progress. We want to make it easy to see where a planning consideration is in our process and what we need to do to make progress.</p>

    <p class="govuk-body">The stages of our data design process are:</p>

    <h2 class="govuk-heading-m">Backlog</h2>

    <p class="govuk body">This stage helps us to understand the planning data landscape.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">Someone tells us about a planning subject area (we call these considerations) that plays a part in decision making in planning. This can be during application or plan mkaing processes. They are expressing an opinion that data for this consideration should be more readily available.</p>
    <p class="govuk-body">We add it to the backlog. And indicate where we think it fits with our programme objectives.</p>
    <p class="govuk-body">Being on the backlog is a promise we'll looking the consideration.</p>

    <h2 class="govuk-heading-m">Screen</h2>

    <p class="govuk body">This stage helps us to verify that a consideration plays an important role in the planning system.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">We answer questions in the screening stage to help us to understand the the legal underpinnings of the consideration, where it is used and needed in the planning system and what, if any, data already exists.</p>
    <p class="govuk-body">At this stage, it is usually possible to tell if we can use an existing national dataset or whether a standard might be needed</p>

    <h2 class="govuk-heading-m">Research</h2>

    <p class="govuk body">This stage is intended to help us to understand the planning need for a consideration.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">We answer questions in the research stage to help us understand the planning and data need.</p>
    <p class="govuk-body">We capture how and where considerations are used, the size and scope of any potential data yield, assumed user needs, use-cases for the data and an expectation of who might be able to provide the required data.</p>
    <p class="govuk-body">This information is essential for data modelling.</p>

    <h2 class="govuk-heading-m">Co-design</h2>

    <p class="govuk body">This stage is focused on us designing the smallest data model that will satisfy the highest number of needs.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">In the co-design stage we develop a draft data model.</p>
    <p class="govuk-body">Our approach is to start small and build up. Therefore we will design a data model to capture the fewest data points needed to satisfy the clearest, most important use-cases.</p>
    <p class="govuk-body">The data model will be co-designed with users: people needing data, people providing the data and stakeholders.</p>

    <h2 class="govuk-heading-m">Test and iterate</h2>

    <p class="govuk body">This stage helps us to build confidence in the data model, proving it is both feasible and will add value.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">We take the draft data model and create the specification for it and any supporting materials.</p>
    <p class="govuk-body">We then test these materials along with the data model in a controlled environment. We do this with potential data providers.</p>
    <p class="govuk-body">This testing allows us to check the data will work in reality, it is feasible to produce and provides value.</p>
    <p class="govuk-body">This stage may lead to changes to the data model.</p>

    <h2 class="govuk-heading-m">Go / no-go</h2>

    <p class="govuk body">This stage helps us to get sign-off for any potential risks we have identified.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">We will summarise what we've learnt during the data design process and check off any associated risks.</p>
    <p class="govuk-body">This is a governance step for <a href="https://www.planning.data.gov.uk/" class="govuk-link">planning.data.gov.uk</a></p>

    <h2 class="govuk-heading-m">Prepare for platform</h2>

    <p class="govuk body">This stage is focused on preparing for the productionisation of the dataset(s) for the consideration.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">We want to make sure everything is in place to move from experimental to production quality data.</p>
    <p class="govuk-body">We wouldn't expect to make any changes to the data model at this point.</p>
    <p class="govuk-body">We will articulate what to expect from an authoritative dataset. for example, who we expect to publish, what we expect them to publish and how often.</p>

    <h2 class="govuk-heading-m">On the platform</h2>

    <p class="govuk body">At this stage authoritative data will be collected and made available on <a href="https://www.planning.data.gov.uk/" class="govuk-link">planning.data.gov.uk</a>.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">Work will shift from designing the data to collecting the data.</p>
    <p class="govuk-body">Some, less authoritative, data will be on the platform for data consumers to use. Over time we will collect more data from the dataset(s), increasing the quality and authority of the available data.</p>
    <p class="govuk-body">Feedback from providers and consumers will be collected and fed back to the Data design team for future iterations of the standard.</p>

    <hr class="govuk-section-break--xl">
    <h2 class="govuk-heading-l">Help improve our process</h2>

    <p class="govuk-body">To help improve our process, you can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>take part in the <a href="https://github.com/digital-land/data-standards-backlog/discussions/60" class="govuk-link">'Data design process' discussion on GitHub</a>, ask questions and share your thoughts</li>
    </ul>

  </div>
</div>
{% endblock %}
