
{% extends 'layouts/base.html' %}

{% block app_breadcrumbs %}
  {{
    govukBreadcrumbs({
      'items': [
        {
          'text': "Home",
          'href': url_for('main.index')
        },
        {
          'text': "Data design process"
        }
      ]
    })
  }}
{% endblock app_breadcrumbs %}

{% block content %}
<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop'>
    <h1 class="govuk-heading-xl">Data design process</h1>
  </div>
</div>

<div class='govuk-grid-row'>
  <div class='govuk-grid-column-two-thirds'>

    <p class="govuk-body">We have created a data design process to determine what data is needed to support planning in the UK and should be made available on <a href="https://planning.data.gov.uk" class="govuk-link">planning.data.gov.uk</a>.</p>
    <p class="govuk-body">The output of the process is a technical specification that data providers can use to provide high-quality planning data.</p>
    <p class="govuk-body">Once we have created, tested and verified the technical specification we will hand it over to a data management team, who will work with data providers to get the data onto <a href="https://planning.data.gov.uk" class="govuk-link">planning.data.gov.uk</a>.</p>

    <h2 class="govuk-heading-l">About the design process</h2>

    <p class="govuk-body">This process needs to explore different aspects of the planning system, determine what is underpinned by legislation and what data us needed to support how it is used in planning.</p>
    <p class="govuk-body">We’ve created a repeatable and modular data design process to produce better and more consistent results. This approach makes the process more transparent and makes it easier for interested parties to contribute.</p>
    <p class="govuk-body">Our process is split into several stages. We want to make it easy to see where a planning consideration is in our process and what we need to do to make progress. It is worth noting that the process is not always linear. A planning consideration might move back a stage if we need to do more work on it.</p>
    <p class="govuk-body">Each planning consideration we take through the process gives us more information about our process. Measuring what worked, what didn’t work and what needs tweaking helps us make each step more efficient.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is a planning consideration?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>A planning consideration is something specific to an area that may impact the outcome of a planning decision.</p>
        <p>For example, a national planning policy impacts what can be built across the whole of England, and a conservation area restricts what can be developed in that area.</p>
      </div>
    </details>

    <h2 class="govuk-heading-l">Stages of the design process</h2>

    <p class="govuk-body">There are 8 stages in total.</p>

    <h3 class="govuk-heading-m">1. Backlog</h3>

    <p class="govuk body">This stage helps us to understand the planning data landscape.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">Someone tells us about a subject area (we call these planning considerations) that plays a part in planning decision-making. This can be during an application or plan-making process. They are expressing an opinion that data for this consideration should be more readily available.</p>
    <p class="govuk-body">We then add it to the backlog and indicate where we think it fits with our programme objectives.</p>
    <p class="govuk-body">Once it’s on the backlog, this means we’re committed to looking at this consideration.</p>

    <p class="govuk-body"><a href="{{ url_for('planning_consideration.considerations', stage='Backlog')}}" class="govuk-link">See planning considerations in the Backlog stage</a>.</p>

    <h3 class="govuk-heading-m">2. Screen</h3>

    <p class="govuk body">This stage helps us to verify that a consideration plays an important role in planning decision-making.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">We answer set questions in the screening stage to help us to understand the legal underpinnings of the consideration, where it is used and needed in the planning system and what, if any, data already exists.</p>
    <p class="govuk-body">At this stage, it is usually possible to tell if we can use an existing national dataset or whether a new technical specification will be needed.</p>

    <p class="govuk-body"><a href="{{ url_for('planning_consideration.considerations', stage='Screen')}}" class="govuk-link">See planning considerations in the Screen stage</a>.</p>

    <h3 class="govuk-heading-m">3. Research</h3>

    <p class="govuk body">This stage is intended to help us to understand the planning need for a consideration.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">We answer set questions in the research stage to help us understand the planning and data needs.</p>
    <p class="govuk-body">We capture how and where the considerations are used, the size and scope of any potential data yield, assumed user needs, use cases for the data, and an expectation of who might be able to provide the required data.</p>
    <p class="govuk-body">During this stage, we will capture any existing open data we find. Analysis of this data will help us to design a feasible and value data model in the co-design stage.</p>

    <p class="govuk-body"><a href="{{ url_for('planning_consideration.considerations', stage='Research')}}" class="govuk-link">See planning considerations in the Research stage</a>.</p>

    <h3 class="govuk-heading-m">4. Co-design</h3>

    <p class="govuk body">This stage is focused on designing the smallest data model that will satisfy the highest number of needs.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">In the co-design stage we develop a draft data model.</p>
    <p class="govuk-body">Our approach is to start small and build up from there. At this initial stage, we will design a data model that captures only the essential data required to meet the most pressing and clear needs. We anticipate that these data models will grow and evolve as new needs emerge. Each dataset will be designed with a minimal set of fields to start.</p>
    <p class="govuk-body">The data model will be co-designed with our users: people needing the data, people providing the data and stakeholders.</p>

    <p class="govuk-body"><a href="{{ url_for('planning_consideration.considerations', stage='Co-design')}}" class="govuk-link">See planning considerations in the Co-design stage</a>.</p>

    <h3 class="govuk-heading-m">5. Test and iterate</h3>

    <p class="govuk body">This stage helps us to build confidence in the data model, proving it is both feasible and will add value.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">We take the draft data model and create a detailed specification and any supporting materials.</p>
    <p class="govuk-body">Next, we test the data model and these materials in a controlled environment with potential data providers.</p>
    <p class="govuk-body">This testing helps us ensure that the data will work in practice, is feasible to produce and provides value.</p>
    <p class="govuk-body">If no existing data is available for a specific planning consideration, we may decide to create some sample data. This sample data, based on real instances of the planning consideration, allows us to test the data model and create an example data explorer to demonstrate how the data can be used.</p>
    <p class="govuk-body">We expect to iterate the data model during this stage.</p>

    <p class="govuk-body"><a href="{{ url_for('planning_consideration.considerations', stage='Test and iterate')}}" class="govuk-link">See planning considerations in the Test and iterate stage</a>.</p>

    <h3 class="govuk-heading-m">6. Go / no-go</h3>

    <p class="govuk body">This stage allows us to check we have followed the process and completed the expected steps.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">We will summarise what we've learnt during the data design process and check off any associated risks.</p>
    <p class="govuk-body">This stage gives us the chance to consider the potential costs, and any legal challenges and to prepare supporting guidance we think will help data providers to provide quality data.</p>
    <p class="govuk-body">This is a governance step for <a href="https://www.planning.data.gov.uk/" class="govuk-link">planning.data.gov.uk</a></p>

    <p class="govuk-body"><a href="{{ url_for('planning_consideration.considerations', stage='Ready for go/no-go')}}" class="govuk-link">See planning considerations in the Ready for go/no-go stage</a>.</p>

    <h3 class="govuk-heading-m">7. Prepare for platform</h3>

    <p class="govuk body">This stage is focused on preparing for the productionisation of the dataset(s) for the planning consideration.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">We will ensure we have provided all the required information needed by the data management team for them to be able to start collecting and publishing production-quality data that you can trust.</p>
    <p class="govuk-body">We wouldn't expect to make many changes to the data model at this point.</p>
    <p class="govuk-body">We’ll articulate what to expect from an authoritative dataset — for example, who we expect to publish, what we expect them to publish, and how often.</p>

    <p class="govuk-body"><a href="{{ url_for('planning_consideration.considerations', stage='Prepared for platform')}}" class="govuk-link">See planning considerations in the Prepare for platform stage</a>.</p>

    <h3 class="govuk-heading-m">8. On the platform</h3>

    <p class="govuk body">At this stage, we will handover to the data management team. They will work with data providers, collect the data they publish and make authoritative datasets available on <a href="https://www.planning.data.gov.uk/" class="govuk-link">planning.data.gov.uk</a>.</p>

    <h3 class="govuk-heading-s">What happens</h3>

    <p class="govuk-body">The focus will shift from designing the data to collecting the data. The data management team will lead this work.</p>
    <p class="govuk-body">Some, less authoritative, data, created in earlier stages, will be on the platform for data consumers to use. Over time more data for the dataset(s) will be collected, increasing the quality and authority of the available data.</p>
    <p class="govuk-body">Feedback from providers and consumers will be collected and fed back to the data design team for future iterations of the data model.</p>

    <p class="govuk-body"><a href="{{ url_for('planning_consideration.considerations', stage='On the platform')}}" class="govuk-link">See planning considerations in the On the platform stage</a>.</p>

    <hr class="govuk-section-break--xl">
    <h2 class="govuk-heading-l">Help improve our process</h2>

    <p class="govuk-body">To help improve our process, you can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>take part in the <a href="https://github.com/digital-land/data-standards-backlog/discussions/60" class="govuk-link">'Data design process' discussion on GitHub</a>, ask questions and share your thoughts</li>
    </ul>

  </div>
</div>
{% endblock %}
