{% extends 'layouts/base.html' %}
{% from 'macros/radios.html' import radioComponent %}

{% block app_breadcrumbs %}
  {# TODO: This doesn't work for this page. It shows 'edit' instead of 'delete' #}
  {% include 'questiontypes/question-page-breadcrumbs.html' %}
{% endblock app_breadcrumbs %}

{% block content_header %}
    <span class="govuk-caption-xl">{{ caption }}</span>
    <h1 class="govuk-heading-xl">Delete {{ to_delete }}</h1>
{% endblock %}

{% block content_primary %}
    <form class="govuk-form" method="POST">
      {{ form.hidden_tag() }}

      {% for field in form if field.name != 'csrf_token' %}
      <div class="govuk-form-group">

        {{ radioComponent({
          "field": field
        }) }}

        {% if field.errors %}
        <ul>
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}

      <div class="govuk-button-group">
        <button class="govuk-button govuk-button--warning" type="submit">Delete</button>
        <a class="govuk-link" href="{{ cancel_link }}">Cancel</a>
      </div>

    </form>
{% endblock %}
