{% extends 'layouts/base.html' %}

{% block app_breadcrumbs %}
  {{
    govukBreadcrumbs({
      'items': [
        {
          'text': "Home",
          'href': url_for('main.index')
        },
        {
          'text': "How to contribute"
        }
      ]
    })
  }}
{% endblock app_breadcrumbs %}

{% block content %}
<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop'>
    <h1 class="govuk-heading-xl">How to contribute to the data design process</h1>
  </div>
</div>

<div class='govuk-grid-row'>
  <div class='govuk-grid-column-two-thirds'>

    <p class="govuk-body-l">Help us to design planning data that works.</p>

    <p class="govuk-body">We work openly and collaboratively to co-design planning data for planning.data.gov.uk. We work in partnership with people needing data, people providing the data, and various stakeholders.</p>

    <p class="govuk-body">We follow our <a href="{{ url_for('main.data_design_process')}}" class="govuk-link">data design process</a>. At each stage, there are ways to contribute.</p>

    <div class="app-call-to-action">
      <h5 class="govuk-heading-s">Have an existing dataset?</h5>
      <p class="govuk-body">Follow our <a href="{{ url_for('main.existing_data_how_to') }}" class="govuk-link">guidance</a> setting out what you need to provide to get the dataset added to <a href="https://planning.data.gov.uk" class="govuk-link">planning.data.gov.uk</a>.</p>
    </div>

    <h2 class="govuk-heading-l">Tell us about a planning consideration</h2>

    <p class="govuk-body">First, check if the planning consideration is on our radar. Look at our backlog and see if it is there.</p>

    <p class="govuk-body">If it is, you will be able to see where it is in our process.</p>
    <p class="govuk-body">We have lots of planning considerations on <a href="{{ url_for('planning_consideration.considerations') }}" class="govuk-link">our backlog</a>, if you think a consideration should be a higher priority for us then get in touch explaining why you think it would be valuable for this data to be made available on planning.data.gov.uk</p>

    <p class="govuk-body">If it isn’t, tell us what we are missing.</p>

    <p class="govuk-body">If you do not see the planning consideration on <a href="{{ url_for('planning_consideration.considerations') }}" class="govuk-link">the backlog</a> get in touch. You can let us know what we’re missing on <a href="https://github.com/digital-land/data-standards-backlog/discussions/29" class="govuk-link">this GitHub discussion</a>. The more you can tell us about the consideration the better. Tell us about why you think it would be good to work on, why the data is important and how it will be used.</p>

    <h2 class="govuk-heading-l">Help us screen and research the planning consideration</h2>

    <p class="govuk-body">During the screening and research stages, we are trying to determine how planning considerations affect planning in the UK, their legal weight within the planning system and what the data could unlock.</p>

    <p class="govuk-body">You can share the information with us on the <a href="https://github.com/digital-land/data-standards-backlog/discussions/categories/planning-consideration" class="govuk-link">relevant github discussion for the planning consideration</a>.</p>

    <p class="govuk-body">If you can't find the discussion you need you can <a href="https://github.com/digital-land/data-standards-backlog/discussions/new?category=planning-consideration" class="govuk-link">create a new one</a>.</p>

    <h3 class="govuk-heading-m">Tell us about the legislation</h3>

    <p class="govuk-body">Point us at:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Point us at the legislation that defines the planning consideration</li>
      <li>Point us at specific clauses that outline how something is designated</li>
      <li>Point us at specific clauses that stipulate that data or information must be published</li>
    </ul>

    <h3 class="govuk-heading-m">Tell us how it is used in the planning system</h3>

    <p class="govuk-body">We want to know where it impacts the planning system/process. Does it mean applicants have another planning requirement to complete? Is it something used and referenced during plan-making?</p>

    <h3 class="govuk-heading-m">Tell us how you use the planning consideration</h3>

    <p class="govuk-body">We need to understand how planning considerations are used at the moment.</p>
    <p class="govuk-body">What processes do you follow to create an instance of the planning consideration? What is involved in the process, and what is produced by the process?</p>
    <p class="govuk-body">And, then how do you use the planning consideration, when do you use them and why?</p>

    <h3 class="govuk-heading-m">Tell us how the data could be used</h3>

    <p class="govuk-body">Good data helps someone do something. Whether that is completing all the requirements for their application or making a decision about the application.</p>
    <p class="govuk-body">To make sure any data has this desired impact, we need to understand what the data should unlock.</p>
    <p class="govuk-body">We need to know where and how the data could and should be used. We need to know what questions could be answered with the right data available.</p>

    <h2 class="govuk-heading-l">Help us create a practical data model</h2>

    <p class="govuk-body">During the co-design and testing stages, we are looking to develop a data model that we are confident will work.</p>

    <h3 class="govuk-heading-m">Drafting the data model</h3>

    <p class="govuk-body">When we develop data models we follow the principles, rules and patterns set out in the <a href="https://standards.planning-data.dev/" class="govuk-link">data design manual</a>.</p>
    <p class="govuk-body">You are welcome to use the manual and submit proposals for planning considerations you are interested in. The best place to share these is on the <a href="https://github.com/digital-land/data-standards-backlog/discussions/categories/planning-consideration" class="govuk-link">relevant GitHub discussion</a>.</p>
    <p class="govuk-body">When a data model has been drafted, it should be opened up for comments. Interested parties should review it, ask questions and comment on whether you think it meets your expectations.</p>

    <h3 class="govuk-heading-m">Define the categories</h3>

    <p class="govuk-body">Some fields in a dataset are constrained. For example, there are only so many valid application types. Quite often, these are used to classify or categorise a record. </p>
    <p class="govuk-body">We need you to define the official lists (we call them registers). For example, many activities or events happen during the local plan-making process. It is important to know about some of them, such as when a plan has gone out for consultation. Domain experts and people working on local plans best know the vital stages. Tell us.</p>
    <p class="govuk-body">This is an ongoing process; tell us if and when they change.</p>

    <h3 class="govuk-heading-m">Test the data model</h3>

    <p class="govuk-body">Any data model needs to be tested. It needs to be tested to check that it meets the identified needs and that it is feasible for data providers to create and publish it.</p>
    <p class="govuk-body">Provide any sample data you have.</p>
    <p class="govuk-body">We’ll also share any data we get or create.</p>
    <p class="govuk-body">You’ll be able to try out that data and tell us:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>what’s useful about the data.</li>
      <li>what is missing, for example, what you could do if only you had ..?</li>
    </ul>

    <h2 class="govuk-heading-l">Provide continuous feedback</h2>

    <p class="govuk-body">Once we have a data model we are confident will work, data can be  collected for planning.data.gov.uk.</p>
    <p class="govuk-body">This means we think the data will be providing value to users. However, design of the data doesn’t stop there. Data models and the accompanying technical specifications evolve as new needs emerge.</p>
    <p class="govuk-body">The <a href="https://github.com/digital-land/data-standards-backlog/discussions/categories/planning-consideration" class="govuk-link">discussion for the planning consideration</a> will remain open and we will use your feedback and ideas to determine what should change.</p>

  </div>
</div>
{% endblock %}
