{% extends 'layouts/base.html' %}
{% set isHomepage = True %}

{% block beforeContent %}
{{ super() }}
<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl app-masthead__title govuk-!-margin-bottom-2">
          Designing planning and housing data that works for everyone
        </h1>
        <p class="govuk-body-l govuk-!-margin-bottom-0 app-masthead__sub-title">
          Help identify and design data for <a href="https://www.planning.data.gov.uk/" class="govuk-link govuk-link--inverse">planning.data.gov.uk</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop'>
    <div class="app-content-list govuk-!-margin-bottom-8">
      <ul class="app-content-list__list" data-track-count="cardList">
        <li class="app-content-list__list-item">
          <div class="app-content-list__list-item-wrapper">
            <h3 class="app-content-list__sub-heading">
              <a
                class="app-content-list__link"
                data-track-count="cardLink"
                href="{{ url_for('planning_consideration.considerations') }}">
                <div class="app-content-list__link-text">List of planning considerations</div>
                <div class="app-content-list__description app-content-list__link-description">
                  A list of all the planning considerations on the backlog for planning.data.gov.uk
                </div>
              </a>
            </h3>
          </div>
        </li>
        <li class="app-content-list__list-item">
          <div class="app-content-list__list-item-wrapper">
            <h3 class="app-content-list__sub-heading">
              <a
                class="app-content-list__link"
                data-track-count="cardLink"
                href="{{ url_for('main.get_involved') }}">
                <div class="app-content-list__link-text">Get involved in designing data</div>
                <div class="app-content-list__description app-content-list__link-description">
                  Information on how you can help design data and get involved in community events and discussions 
                </div>
              </a>
            </h3>
          </div>
        </li>
        <li class="app-content-list__list-item">
          <div class="app-content-list__list-item-wrapper">
            <h3 class="app-content-list__sub-heading">
              <a
                class="app-content-list__link"
                data-track-count="cardLink"
                href="{{ url_for('main.what_we_are_working_on') }}">
                <div class="app-content-list__link-text">What’s being worked on now and next</div>
                <div class="app-content-list__description app-content-list__link-description">
                  An overview of the planning considerations being worked on now and in the future
                </div>
              </a>
            </h3>
          </div>
        </li>
        <li class="app-content-list__list-item">
          <div class="app-content-list__list-item-wrapper">
            <h3 class="app-content-list__sub-heading">
              <a
                class="app-content-list__link"
                data-track-count="cardLink"
                href="{{ url_for('main.stage_count') }}">
                <div class="app-content-list__link-text">Performance</div>
                <div class="app-content-list__description app-content-list__link-description">
                  A report on how many considerations are in each stage of our process
                </div>
              </a>
            </h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}


{% block content_footer %}
<p>This is a footer test</p>
{% endblock %}
