
{% extends 'layouts/base.html' %}
{% set isHomepage = True %}

{% block mastHead %}
{{ super() }}
<div class="app-masthead">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-xl app-masthead__title govuk-!-margin-bottom-2">
      Planning considerations manager
    </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-0 app-masthead__sub-title">
      This tool is used to manage the work of the data standards team
      </p>
  </div>
</div>

{% endblock %}

{% block content %}
<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop'>
    <h2 class="govuk-heading-m">Options</h2>
    <div class="app-content-list govuk-!-margin-bottom-8">
      <ul class="app-content-list__list" data-track-count="cardList">
        <li class="app-content-list__list-item">
          <div class="app-content-list__list-item-wrapper">
            <h3 class="app-content-list__sub-heading">
              <a
                class="app-content-list__link"
                data-track-count="cardLink"
                href="{{ url_for('main.considerations') }}">
                <div class="app-content-list__link-text">List of planning considerations</div>
                <div class="app-content-list__description app-content-list__link-description">
                  A list of all the planning considerations that are candidates for planning.data.gov.uk
                </div>
              </a>
            </h3>
          </div>
        </li>
        <li class="app-content-list__list-item">
          <div class="app-content-list__list-item-wrapper">
            <h3 class="app-content-list__sub-heading">
              <a
                class="app-content-list__link"
                data-track-count="cardLink"
                href="{{ url_for('main.what_we_are_working_on') }}">
                <div class="app-content-list__link-text">What we are working on</div>
                <div class="app-content-list__description app-content-list__link-description">
                  An overview of the work we are doing now and in the future
                </div>
              </a>
            </h3>
          </div>
        </li>
        <li class="app-content-list__list-item">
          <div class="app-content-list__list-item-wrapper">
            <h3 class="app-content-list__sub-heading">
              <a
                class="app-content-list__link"
                data-track-count="cardLink"
                href="{{ url_for('main.stage_count') }}">
                <div class="app-content-list__link-text">Breakdown of planning considerations</div>
                <div class="app-content-list__description app-content-list__link-description">
                  A report on how many considerations are in each stage of our process
                </div>
              </a>
            </h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
