{% extends 'layouts/base.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">DLUHC Planning considerations</h1>

    <section class="govuk-!-margin-top-9">
      <a href="{{ url_for('main.new' )}}" class="govuk-button">Add planning consideration</a>
    </section>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <nav class="app-sub-navigation">
      <h3 class="govuk-heading-s">Filter by stage</h3>
      <ul class="app-sub-navigation__section govuk-list">
        {% for stage in stages %}
        <li class="app-sub-navigation__section-item{% if filter == stage[0] %} app-sub-navigation__section-item--current{% endif %}">
          <a href="#" class="app-sub-navigation__link">{{ stage.value }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <div class="concerns-list__wrapper">

      <div class="concerns-list__count__wrapper">
        <p class="govuk-body">Showing <span class="js-accessible-list-filter__count">{{ count }}</span> planning considerations</p>
        <span class="govuk-body govuk-!-font-weight-bold govuk-visually-hidden js-list-filter__count" aria-hidden="true">{{ count }}</span>
      </div>

      <dl class="govuk-summary-list" data-filter="list">
        {% for consideration in considerations -%}
        <div class="govuk-summary-list__row" data-filter="item">
          <dt class="govuk-summary-list__key" data-filter="match-content">
            <a href="{{ url_for('main.consideration', slug=consideration.slug) }}" class="govuk-link govuk-link--text-colour">{{ consideration['name'] }}</a>
          </dt>
          <dd class="govuk-summary-list__value">
            {% set status_class = "blue" %}
            <strong class="govuk-tag govuk-tag--{{ status_class }}">
              {{ consideration['stage'].value }}
            </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ url_for('main.edit', slug=consideration.slug )}}">
              Edit<span class='govuk-visually-hidden'> planning consideration basics</span></a>
          </dd>
        </div>
        {%- endfor %}

      </dl>
    </div>

    <p class="dl-list-filter__no-filter-match js-no-filter-list-matches">No planning considerations match your search term.</p>

  </div>
</div>
{% endblock content %}
