{% extends 'layouts/base.html' %}

{% block beforeContent %}
<a href="{{ url_for('main.index') }}" class="govuk-back-link">Back</a>
{% endblock beforeContent %}

{% block content_primary %}

    <h1 class="govuk-heading-l">Statistics</h1>

    <h2 class="govuk-heading-m">Completeness 📊</h2>

    <div class="app-stats">
      <div class="app-stats__card">
        <div class="app-stats__key">{{ data.total }}</div>
        <div class="app-stats__value">Total planning considerations</div>
      </div>
      <div class="app-stats__card">
        <div class="app-stats__key">{{ data.with.legislation }}</div>
        <div class="app-stats__value">with legislation</div>
      </div>
      <div class="app-stats__card">
        <div class="app-stats__key">{{ data.with.specification }}</div>
        <div class="app-stats__value">with a specification</div>
      </div>
      <div class="app-stats__card">
        <div class="app-stats__key">{{ data.with.schemas }}</div>
        <div class="app-stats__value">with associated schemas</div>
      </div>
      <div class="app-stats__card">
        <div class="app-stats__key">{{ data.with.github_discussion }}</div>
        <div class="app-stats__value">with an active github discussion</div>
      </div>
      <div class="app-stats__card">
        <div class="app-stats__key">{{ data.with.useful_links }}</div>
        <div class="app-stats__value">with useful links</div>
      </div>
    </div>

    <h2 class="govuk-heading-m">Progress 📈</h2>

    <div class="app-stats">
      <div class="app-stats__card">
        <div class="app-stats__key">{{ data.edits.total }}</div>
        <div class="app-stats__value">Total updates to planning considerations</div>
      </div>
      <div class="app-stats__card">
        <div class="app-stats__key">{{ data.edits.recent }}</div>
        <div class="app-stats__value">since {{ since.strftime('%Y-%m-%d') }}</div>
      </div>
    </div>

{% endblock content_primary %}
