{% extends 'layouts/base.html' %}

{% block app_breadcrumbs %}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Home",
      'href': url_for('main.index')
    },
    {
      'text': "Planning consideration",
      'href': url_for('planning_consideration.considerations')
    },
    {
      'text': consideration.name,
      'href': url_for('planning_consideration.consideration', slug=consideration.slug)
    },
    {
      'text': "Changes to Stage"
    }
  ]
}) }}

{% endblock %}

{% block content_header %}
    <span class="govuk-caption-xl">{{ consideration.name }}</span>
    <h1 class="govuk-heading-xl">Changes to Stage</h1>
{% endblock %}


{% block content_primary %}
{%- if stage_changes %}

    <div class="moj-timeline">
      {% for stage_change in stage_changes %}
      <div class="moj-timeline__item">

        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">From <span class="govuk-tag {{ stage_change.change.from|map_to_tag_class }}">{{ stage_change.change.from }}</span> to <span class="govuk-tag {{ stage_change.change.to|map_to_tag_class }}">{{ stage_change.change.to }}</span></h2>

          <p class="moj-timeline__byline">by {{ stage_change.user }}</p>

        </div>

        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">{{ stage_change.date }}</time>
        </p>

        {% if stage_change.reason %}
        <div class="moj-timeline__description">
          <p>{{ stage_change.reason|render_markdown }}</p>
        </div>
        {% endif %}

      </div>
      {% endfor %}
    </div>

  {%- else %}
  <p class="govuk-body govuk-hint">No changes of Stage recorded</p>
  {% endif %}
  <p class="govuk-body govuk-hint">At the end of March 2024, we moved this planning consideration into planning data design. We moved it with the stage it had at the time. Therefore, we are only able to show history from that point.</p>

{% endblock content_primary %}
