{% extends 'layouts/base.html' %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Home",
      'href': url_for('main.index')
    },
    {
      'text': "Planning consideration",
      'href': url_for('main.considerations')
    },
    {
      'text': consideration.name,
      'href': url_for('main.consideration', slug=consideration.slug)
    },
    {
      'text': "Changes to Stage"
    }
  ]
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">{{ consideration.name }}</span>
    <h1 class="govuk-heading-xl">Changes to Stage</h1>
  </div>
</div>


{%- if stage_changes %}

<div class='govuk-grid-row'>
  <div class='govuk-grid-column-two-thirds'>
    <div class="moj-timeline">
      {% for change in stage_changes %}
      <div class="moj-timeline__item">

        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">From <span class="govuk-tag {{ change.changes.stage.deleted|map_to_tag_class }}">{{ change.changes.stage.deleted }}</span> to <span class="govuk-tag {{ change.changes.stage.added|map_to_tag_class }}">{{ change.changes.stage.added }}</span></h2>

          <p class="moj-timeline__byline">by {{ change.user }}</p>

        </div>

        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">{{ change.date }}</time>
        </p>

        {% if change.reason %}
        <div class="moj-timeline__description">
          <p>{{ change.reason }}</p>
        </div>
        {% endif %}

      </div>
      {% endfor %}
    </div>
    <p class="govuk-body govuk-hint">At the end of March 2024, we moved the planning consideration with the stage it had at the time. History had not previously been kept.</p>
  </div>
</div>
{% endif %}

{% endblock content %}
