{% extends 'layouts/base.html' %}

{% macro considerationListItem(consideration) %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <a href="{{ url_for('planning_consideration.consideration', slug=consideration.slug, tags=consideration.tags)}}" class="govuk-link govuk-link--text-colour">{{ consideration.name }}</a>
    <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">
      <!--<span class="govuk-tag govuk-tag--blue">{{ consideration.stage.value }}</span>-->
      {% for tag in consideration.tags %}
        <span class="govuk-tag govuk-tag--grey">{{ tag.name }}</span>
      {% endfor %}

      <!--
      {%- if consideration.blocked_reason %}
      <span class="govuk-tag govuk-tag--red">Blocked</span>
      {% endif -%}
      -->
    </p>
  </dt>

  <dd class="govuk-summary-list__actions govuk-!-text-align-left">
    <p class="govuk-body govuk-!-margin-bottom-0">
    {%- if consideration.github_discussion_number is not none %}
      {% set discussion_link = github_discussion_base_url + "/" + consideration.github_discussion_number|string %}
      <a href="{{ discussion_link }}" class="govuk-link">Github discussion</a>
    {% endif -%}
    </p>
  </dd>
</div>
{% endmacro %}


{% block content_primary %}

<span class="govuk-caption-xl">Planning considerations</span>
<h1 class="govuk-heading-xl">What we're working on</h1>

<h2 class="govuk-heading-l govuk-!-margin-top-7">Our current priorities</h2>

<p class="govuk-body">This is a list of planning considerations we're actively working on, along with what we think the planning area is.</p>

<p class="govuk-body">You can keep up to date with the work being done by viewing our Github discussions.</p>

<p class="govuk-body">If you'd like to <a href="/get-involved-in-designing-data" class="govuk-link">get involved</a>, we regularly host events about designing data</p>

<dl class="govuk-summary-list">
  {% for consideration in emerging_priorities %}
    {{ considerationListItem(consideration) }}
  {% endfor %}
</dl>

<h2 class="govuk-heading-l govuk-!-margin-top-9">What we're working on next</h2>

<p class="govuk-body">We prioritise which planning consideration to work on next by engaging with our community.</p>

<p class="govuk-body">If you'd like to help us prioritise which consideration to work on next, let us know on <a href="https://github.com/digital-land/data-standards-backlog/discussions/29" class="govuk-link">Github</a> or email us at <a href="mailto:digitalland@communities.gov.uk" class="govuk-link">digitalland@communities.gov.uk</a></p>

<p class="govuk-body">To see our full list of planning considerations, <a href="/planning-consideration" class="govuk-link">view our backlog</a></p>

{% endblock content_primary %}
