<h3 class="govuk-heading-s">Useful links</h3>
<ul class="govuk-list">
    <li><a href="https://github.com/digital-land/planning-application-data-specification/issues" class="govuk-link">List of open issues</a></li>
    <li><a href="https://github.com/orgs/digital-land/projects/36/views/1" class="govuk-link">Open project board</a></li>
    <li><a href="https://github.com/digital-land/planning-application-data-specification" class="govuk-link">Planning application data specification repository</a></li>
    <li><a href="{{ url_for('project.advisory_group_roadmap') }}" class="govuk-link">Roadmap</a></li>
    <li><a href="{{ url_for('project.advisory_group_weeknotes') }}" class="govuk-link">Weeknotes</a></li>
  </ul>
