{% extends 'layouts/base.html' %}

{% block app_breadcrumbs %}
{{ govukBreadcrumbs({
  'items': [
    {
      'text': "Home",
      'href': url_for('main.index')
    },
    {
      'text': "Planning consideration",
      'href': url_for('planning_consideration.considerations')
    },
    {
      'text': consideration.name,
      'href': url_for('planning_consideration.consideration', slug=consideration.slug)
    },
    {
      'text': stage.value,
      'href': url_for('planning_consideration.consideration', slug=consideration.slug, _anchor='stage-' ~ stage.name|lower)
    },
    {
      'text': label
    }
  ]
}) }}
{% endblock %}
