{% macro answerListItem(params) %}
<li class="app-previous-item govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Item {{ params.item.position | int  + 1  }}
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="{{ url_for('questions.delete_answer', consideration_slug=params.consideration.slug, question_slug=params.question.slug, stage=params.stage, position=params.item.position) }}">Delete<span class="govuk-visually-hidden"> item {{ params.item.position | int  + 1  }}</span></a>
      </li>
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="{{ url_for('questions.edit_answer', consideration_slug=params.consideration.slug, question_slug=params.question.slug, stage=params.stage, position=params.item.position) }}">Edit<span class="govuk-visually-hidden"> item {{ params.item.position | int  + 1  }}</span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      {% for k,v in params.item.items() %}
      {%- if k not in ["position", "csrf_token"] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ k }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ v }}
        </dd>
      </div>
      {% endif -%}
      {% endfor %}
    </dl>
  </div>
</li>
{% endmacro %}
