{% macro radioComponent(params) %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    {% set headingSize = params.pageHeading.size|default('m') if params.pageHeading else 'm' %}
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--{{ headingSize }}">
      {%- if params.pageHeading and params.pageHeading.captionHTML %}
      {{ params.pageHeading.captionHTML|safe }}
      {% endif -%}
      <h2 class="govuk-fieldset__heading">
      {{ params.field.label.text }}
      </h2>
    </legend>
    {% if params.hint and params.hint.text %}
    <div id="{{ params.field.id }}-hint" class="govuk-hint">
      {{ params.hint.text }}
    </div>
    {% endif %}
    <div class="govuk-radios" data-module="govuk-radios">
      {% for choice in params.field.choices %}
      <div class="govuk-radios__item">
        {%- set radioID = params.field.id + ('-'+loop.index|string) if loop.index %}
        <input class="govuk-radios__input" id="{{ radioID }}" name="{{ params.field.id }}" type="radio" value="{{ choice[0] }}" {% if params.field.data == choice[0] %} checked{% endif %}{% if params.conditional and params.conditional|lower() == choice[0]|lower() %} data-aria-controls="conditional"{% endif %}>
        <label class="govuk-label govuk-radios__label" for="{{ radioID }}">
          {{ choice[1] }}
        </label>
      </div>
      {% if params.conditional and params.conditional|lower() == choice[0]|lower() %}
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional">
        <div class="govuk-form-group">
          <label class="govuk-label" for="other">
            Enter details
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="other" name="other" type="text" value="{% if params.other %}{{ params.other }}{% endif %}">
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </fieldset>
</div>
{% endmacro %}
