digital_land_frontend @ git+https://github.com/digital-land/digital-land-frontend.git#egg=digital_land_frontend
govuk-frontend-jinja==3.7.0
Flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
psycopg2-binary
flask-sslify
is-safe-url
flask-talisman
flask-debugtoolbar
sentry-sdk[flask]
gunicorn
python-dotenv
alembic-postgresql-enum
Authlib
python-slugify
PyGithub
pydantic
Markdown
beautifulsoup4
python-frontmatter
