// import all digital land and GOVUK Frontend scss
$app-images-path: "/static/images/";
$govuk-global-styles: true;
$govuk-new-link-styles: true;

@import "digital-land-frontend/dl-frontend";

// components
//@import "components/some-component";
