// import all digital land and GOVUK Frontend scss
$app-images-path: "/static/images/";
$govuk-global-styles: true;
$govuk-new-link-styles: true;

@import "digital-land-frontend/dl-frontend";

// components
@import "components/content-list";
@import "components/masthead";
@import "components/report-bar";
@import "components/subnavigation";


// used in buttons like "add new planning consideration"
.app-icon {
  font-style: normal;

  .govuk-button & {
    margin-right: $govuk-gutter-half;
  }
}

// used on main list of planning considerations
.app-list__actions {
  display: flex;
  justify-content: end;
}


.app-missing-item {
  //background: govuk-tint(govuk-colour("yellow"), 75);
  display: inline-block;
  margin: 5px 0;
  padding: 5px 10px 5px 15px;
  border-left: 4px solid govuk-colour("yellow");
  color: govuk-shade(govuk-colour("yellow"), 65%);

  & *:last-child {
    margin-bottom: 0;
  }
}

.app-list__item__inline-action {
  //margin-left: 5px;
  display: block;
}

// no thought has gone into the colour steps
.app-destructive-link {
  &:link {
    color: govuk-colour("red");
  }

  &:visited {
    color: govuk-shade(govuk-colour("red"), 20%);
  }

  &:hover {
    color: govuk-shade(govuk-colour("red"), 30%);
  }

  &:active {
    color: govuk-shade(govuk-colour("red"), 30%);
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: govuk-shade(govuk-colour("red"), 40%);
  }
}
