// import all digital land and GOVUK Frontend scss
$app-images-path: "/static/images/";
$govuk-global-styles: true;
$govuk-new-link-styles: true;

@import "digital-land-frontend/dl-frontend";

// components
@import "components/content-list";
@import "components/masthead";
@import "components/subnavigation";


// used in buttons like "add new planning consideration"
.app-icon {
  font-style: normal;

  .govuk-button & {
    margin-right: $govuk-gutter-half;
  }
}

// used on main list of planning considerations
.app-list__actions {
  display: flex;
  justify-content: end;
}
