{%- from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner -%}

{% set phaseBannerContent %}
  This is a new service - your
  <a
    class="govuk-link"
    href="https://forms.office.com/pages/responsepage.aspx?id=EGg0v32c3kOociSi7zmVqFO3bTJ8VFpFodBlrVJHzGdUOVpGMEc1M0s1M0pDWktPVUxUWVoxNjRMTS4u&route=shorturl"
    target="_blank"
    rel="noopener noreferrer"
  >feedback</a>
  will help us to improve it.
{% endset %}

{{ govukPhaseBanner({
  'tag': {
    'text': "BETA"
  },
  'html': phaseBannerContent,
  'classes': phaseBannerClasses | default('')
}) }}
